<div class="intro">
  <h2>Day {{@number}}</h2>
  <p>The puzzle can be found <a href='https://adventofcode.com/2023/day/{{@number}}'>here</a>.<br>
  The puzzle always has example input and a personalised input.<br>
  You can use the toggle below to toggle between the example solution and the personalised solution.
  <Inputtoggle @toggle={{this.toggle}}/>
  </p>
</div>
<div class="container">
  <div class="solution1">
    Part 1:<br> {{if this.input @solution1  @example1}}
    <CodeSnippet @name="day{{ @number}}-solution1.js"/>
  </div>
  <div class="solution2">
    Part 2:<br> {{if this.input @solution2 @example2}}
    <CodeSnippet @name="day{{ @number}}-solution2.js"/>
  </div>
  <div class="description">
    {{yield}}
  </div>
</div>